body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/*Legend formatting */
.Legend {
  padding: 10px 12px;
  color: black;
  background: white;
  border-radius: 6px;
}

.Legend j {
  width: 15px;
  height: 15px;
  float: left;
}